/* @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap'); */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  font-weight: light;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.search_result {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html,body {
  height: 100%;

}

/* ########################### HELPERS ######################### */
.static {
  position: static;
}

.absolute {
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 5;
  background-color: white;
}

/* ################################################################## */

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.wrapper_div {
  flex: 1 0 auto;
}

.profile {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.g_suit {
  color:gray;
}

.assistant {
  width: 20px;
  height: 20px;
}

.nav__div-right .a_2 {
  width: 20px;
  height: 20px;
}

.nav {
  display: flex;
  justify-content:flex-end;
  align-items: center;
  padding:0 1.2rem;
}

.nav .a {
  color: black;
  text-decoration: none;
}

.nav .a:hover,.nav .a:focus {
  color: gray;
  text-decoration: underline;
}

.nav .a,.nav .btn {
  padding: 0.5rem 0.6rem 1rem 0.6rem;
}

.nav .btn {
  background-color: white;
  border-width: 0;
  color: grey;
}

.nav__div-right, .nav__div-left {
  display: flex;
  align-items: center;
}

.nav__div-right .a_1, .nav__div-left .a_1, .nav__div-left .btn {
  display: none;
}

main {
  width: 100%;
}


.main__img {
  display: block;
  margin: 0 auto;
  margin-top: 7%;
}

.search_div {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}

/* #form_desktop {
  display: flex !important;
}

#form_mobile {
  display: none !important;
} */

.search_div .search_div__div {
  display: flex;
  max-width: 655px;
  width: 46%;
  height: 2.7rem;
  border-radius: 50px;
  border: 1px solid #cccccc;
  align-items: center;
  justify-content: space-between;
}

.main__input {
  outline: none;
  border-width: 0;
  width: 90%;
  font-size: 1rem;

}

.search_icon {
  margin-left: 10px;
  color: #9AA0A6;
  height: 20px;
  width: 20px;
  display: inline-block;
  fill: currentColor;
  height: 24px;
  line-height: 24px;
  position: relative;
  width: 24px;
}

.search_icon svg {
  display: block;
  height: 100%;
  width: 100%;
}

.mic {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.suggestion a {
 text-decoration: none;
 font-size: 1rem;
 line-height: 1.5em;
}

.suggestion a:hover {
background-color: #cccccc;
}

.dot_grid {
  display: inline-block;
}



.boxshadow {
  -webkit-box-shadow: 1px 1px 9px 2px rgba(204,204,204,1);
  -moz-box-shadow: 1px 1px 9px 2px rgba(204,204,204,1);
  box-shadow: 1px 1px 9px 2px rgba(204,204,204,1);
}

.button__div {
  display: flex;
  justify-content: center;
}

.button__div .button {
  display: nline-block;
  width: 10rem;
  height: 2rem;
  margin:2rem 0.5rem;
  background-color: #f5f5f5;
  border-radius: 5px;
  border-width: 0;
}

.button__div .button:hover {
  border: 1px solid #cccccc;
}

.main__section1__div-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

.main__section1__div-2.desktop {
  display: flex;
}


.main__section1__div-2.mobile{
 display: none;
}

.main__section2 div {
  display: inline-block;
}


.main__section1__div-2 img {
  width: 50px;
  height: 50px;
}

.main__section1__div-2 h3 {
  font-weight: 400;
}

.main__section1__div-2 a{
  text-decoration: none;
  color: blue;
}

.main__section1__div-2 a:hover {
  text-decoration: underline;
}

.main__section2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__section2 h3 {
  font-weight: 400;
}


.main__section2 a {
  text-decoration: none;
  color: blue;
}

.main__section2 a:hover {
  text-decoration: underline;
}

footer {
  color: #5f6368;
  width: 100%;
  flex-shrink: 0;
  background-color: #f2f2f2;
}

.footer-top {
  font-size: 1rem;
  display: flex;
  justify-content: flex-start;
  border-top: 1px solid #cccccc;
  border-bottom : 1px solid #cccccc;
  border-left: 0;
  border-right: 0;
  padding: 0.8rem 2rem;
}

.footer-bottom {
  padding: 0.8rem 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.footer-bottom a {
  color:#5f6368;
  text-decoration: none;
}

.footer-bottom__group1 .a_4 {
  display: inline-block;
}

.footer-bottom a:hover,.footer-bottom a:focus {
  text-decoration: underline;
}





@media only screen and (max-width: 768px) {
  .nav {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    padding: 0;
  }

  .nav__div-right .a_1, .nav__div-left .a_1, .nav__div-left .btn {
    display: inline-block;
  }

  .nav__div-left .a_2 {
    display: none;
  }

  .nav .a:hover,.nav .a:focus {
    color: blue;
    text-decoration: none;
    border-bottom: 2px solid blue;
  }

  .button__div .button {
    display: none;
  }

    .main__section1{
     display: block;
     width: 100%;
    }

   .suggestion {

   }

   .main__section1__div-2.desktop {
    display: none;
   }


  .main__section1__div-2.mobile{
    margin-top: 2rem;
    display:flex;
  }

  .main__section2 {
    flex-direction: column;
    align-items: center;
  }

  .footer-bottom__group1 .a_4 {
    display: none;
  }

}

@media only screen and (min-width: 500px) {

.search_div .search_div__div {
  width: 70%;
}

}

@media only screen and (max-width: 500px){
  .footer-bottom {
    flex-direction: column-reverse;
    align-items: center;
  }
}


@media only screen and (min-width: 360px) {

.search_div .search_div__div {
  width: 90%;
}

}


@media only screen and (max-width: 360px) {

.search_div .search_div__div {
  width: 90%;
}

}




/* #############################################################################
########### SEARCH RESULT PASGE ############################################
############################################################################# */

.search_result .nav#nav-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

.search_result .nav#nav-mobile {
  display: none;
}

.search_result .nav_2 {
  padding-left: 11%;
  padding-top: 8px;
  border-bottom: 1px solid #dddddd;
  height: 1.8rem;
}

.search_result .nav_2 a {
  padding: 0.7rem;
  color: grey;
  text-decoration: none;
}

.search_result .nav_2 a i {
 margin-right: 5px;
}


.search_result .nav__div-left {
width: 65%;
display: flex;
align-items: center;
}

.search_result .nav__div-right {
display: flex;
align-items: center;
}

.search_result .main__img {
  display: flex;
  margin: 0;
  height: 30px;
  width: 92px;
}

.search_result .search_div {
  margin-top: 0;
  margin-left: 2rem;
  display: flex;
  justify-content: center;
  width: 80%;
}

.search_result .search_div .search_div__div {
  display: flex;
  max-width: 655px;
  width: 100%;
  height: 2.7rem;
  border-radius: 50px;
  border: 1px solid #cccccc;
  align-items: center;
  justify-content: space-between;
}

.search_result .main__input {
  outline: none;
  border-width: 0;
  /* border-radius: 50px; */
  margin-left: 10px;
  width: 90%;
  font-size: 1rem;

}

.search_result .search_icon {
  margin-right: 10px;
  color: blue;
  height: 20px;
  width: 20px;
  display: inline-block;
  fill: currentColor;
  height: 24px;
  line-height: 24px;
  position: relative;
  width: 24px;
}

.search_result .mic {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}


.search_result .nav_2 .search_icon {
    display: inline-block;
    fill: currentColor;
    margin-right: 5px;
    vertical-align: text-bottom;
}

.search_result .nav_2 .search_icon svg {
    display: block;
    height: 100%;
    width: 100%;
}

.search_result .nav_2 .a_7 {
  margin-left: 5em;
}

.search_result .nav_2 a {
  outline: none;
}

.search_result .nav_2 a:hover {
  color: blue;
}

.search_result .nav_2 a:focus {
  color: blue;
  border-bottom: 3px solid blue;
}


.search_result .all {
  display: flex;
  justify-content: space-around;
}

.search_result .result_stat{
  margin-left: 11.5%;
  color: grey;
}

.search_result .result_stat .h3 {
  order: 1;
  font-weight:400;
}

.search_result main {
  width: 100%;
}

.search_result .all .wikipedia {
  width: 30%;
  order: 3;
  border: 1px solid #cccccc;
  border-radius: 10px;
}

.search_result .all .results {
  margin-left: 7%;
  width: 45%;
  order: 2;
}

.search_result .all .wikipedia .divider {
  width: 100%;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  border-left: 0;
  border-right: 0;
  padding: 1em 0;
}

.search_result .all .wikipedia .divider span {
  margin-left: 1em;
}

.search_result .all .wikipedia .divider a {
  margin: 0 1em;
}



.search_result .all .wikipedia h2 {
  margin: 2em 1em;
}

.search_result .all .wikipedia p {
  line-height: 1.8em;
  margin: 1em;
}


.search_result .all .results .result {
 margin: 2em 0;
}

.search_result .all .results .result .a h2 {
  margin: 0.3em 0;
}

.search_result .all .results .result .a_1 {
 color:grey;
 text-decoration: none;
}

.search_result .all .results .result .body {
  margin-top: 0;
  line-height: 1.8em;
}

.search_result .related {
  margin-left: 11.5%
}

.search_result .related h2 {

}

.search_result .related .links {
  height: 8em;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
  font-size: 0.9rem;
}

.search_result .related .links a {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  margin-right: 2em;
}

.search_result .related .links a span {
  font-weight: bold;
}

.search_result .pagination {
  margin: 5em 0 2.5em 0;
  margin-left: 23%;

}

.search_result .pagination a {
  padding: 0 0.4em;
  font-size: 0.9rem;

}

.search_result .pagination a.next {
  padding: 0 2.9em;
}

.search_result .footer-top {
  padding: 0.8rem 0;
  padding-left: 11.5%;
  display: flex;
  align-items: center;
}

.search_result .footer-top .country {
  font-size: 0.9rem;
  font-weight: 400;
}

.search_result .footer-top .seperator {
  margin: 0 15px;
  color: #cccccc;
}

.search_result .footer-top .large_dot {
  width: 10px;
  height: 10px;
  border-width: 0;
  border-radius: 50%;
  background-color: grey;
  margin: 0 4px 0 4px;
  margin-top: 2px;
}

.search_result .footer-top .city {
  font-weight: bold;
}

.search_result .footer-top h4 {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 400;

}

.search_result .footer-bottom {
  padding: 0.8rem 0;
  padding-left: 11.5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.search_result .footer-bottom a {
  margin-right: 2.2em;
  font-size: 0.9rem;
}

.search_result .search_suggestions {
  background-color: white;
  width: 40%;
  border-radius: 15px;
  padding:2em;
  z-index:5;
}

.search_result .search_suggestions a{
  color: grey;
  text-decoration: none;
}

.search_result .search_suggestions a:focus, .search_result .search_suggestions a:hover {
  color:blue;
}



.search_absolute {
  display: block !important;
  position: absolute !important;
  margin-top: 50px !important;
}

.search_static {
  display:none !important;
}




@media only screen and (max-width: 720px){

   .search_result .nav#nav-desktop {
     display: none;
   }

  .search_result .nav#nav-mobile {
    display: block;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
  }


  .search_result .nav__div-left {
    margin:0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .search_result .nav__div-right {
  display: flex;
  align-items: center;
  justify-content: center;
  }

  .search_result .main__img {
    display: flex;
    margin: 0;
    height: 30px;
    width: 92px;
  }

  .search_result .search_div .search_div__div {
    display: flex;
    max-width: 655px;
    width: 100%;
    height: 2.7rem;
    border-radius: 50px;
    border: 1px solid #cccccc;
    align-items: center;
    justify-content: space-between;
  }

  .search_result .main__input {
    outline: none;
    border-width: 0;
    margin-left: 10px;
    width: 90%;
    font-size: 1rem;

  }

  .search_result .search_icon {
    margin-right: 10px;
    color: blue;
    height: 20px;
    width: 20px;
    display: inline-block;
    fill: currentColor;
    height: 24px;
    line-height: 24px;
    position: relative;
    width: 24px;
  }

  .search_result .mic {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .search_result .search_suggestions {
    width:80%;
  }



  .search_result .nav_2 {
    padding-left: 11%;
    padding-top: 8px;
    border-bottom: 1px solid #dddddd;
    height: 1.8rem;
  }

  .search_result .nav_2 a {
    padding: 0.7rem;
    color: grey;
    text-decoration: none;
  }

  .search_result .nav_2 a i {
   margin-right: 5px;
  }


  .search_result .nav_2 .more,.search_result .nav_2 .settings,.search_result .nav_2 .tools {
    display: none;
  }

  .search_result .nav_2 i,.search_result .nav_2 span,.search_result .nav_2 svg, .search_result .nav_2 path  {
    display: none;
  }

  .search_result .nav_2 {
    text-transform: uppercase;
    padding-left: 0;
    display: flex;
    justify-content: center;
  }

  .dot_grid {
    display: none;
  }

  .search_result .search_div {
    margin-top: 0;
    margin-left: 0;
    display: flex;
    justify-content: center;
    width: 90%;
  }

  .search_result .all {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .search_result .all .wikipedia {
    width: 70%;
    order: 2;
    border-width: 0;
    -webkit-box-shadow: 1px 1px 9px 2px rgba(204,204,204,1);
    -moz-box-shadow: 1px 1px 9px 2px rgba(204,204,204,1);
    box-shadow: 1px 1px 9px 2px rgba(204,204,204,1);
  }

  .search_result .all .results {
    width:70%;
    order: 3;
    margin-left: 0;
  }

  .search_result .all .results .result {
   margin: 2em 0;
   padding: 1.5em;
   border-radius: 10px;
   -webkit-box-shadow: 1px 1px 9px 2px rgba(204,204,204,1);
   -moz-box-shadow: 1px 1px 9px 2px rgba(204,204,204,1);
   box-shadow: 1px 1px 9px 2px rgba(204,204,204,1);
  }

  .search_result .pagination {
    margin: 5em 0 2.5em 0;
    display: flex;
    justify-content: center;
  }

  .search_result .pagination a.next {
    padding-right: 0;
  }
}


@media only screen and (max-width: 600px){
  .search_result .all .wikipedia {
    width: 80%;
  }

  .search_result .all .results {
    width:80%;
  }
}



@media only screen and (max-width: 500px){
  .search_result .all .wikipedia {
    width: 90%;
  }

  .search_result .all .results {
    width:90%;
  }
}
